<section class="movie-of-the-years">
    <div class="container">
        <div class="description">
            <div class="row">
                <div class="col-md-6 align-items-center">
                    <h1 class="fond">{{titre}}</h1>
                    <div class="parallax-ratting d-flex align-items-center mt-3 mb-3">
                        <ul
                            class="ratting p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </li>
                        </ul>
                        <span class="text-white ml-3">{{note}}</span>
                    </div>


                    <div class="movie-time d-flex align-items-center">
                        <div class="badge badge-secondary mr-3 rounded-0">15+</div>
                        <h6 class="text-white">{{duration}}</h6>
                    </div>

                    <div class=" text-left iq-title-box iq-title-default">
                        <h4 class="iq-title">
                            Movie of the year </h4>

                        <p class="iq-title-desc">{{paragraph}}</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="" class="btn btn-hover iq-button" tabindex="0"><i class="fa fa-play mr-2"></i>
                            Play Now </a>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <img src={{img_src}}
                        title="final-fantasy" class="img-fluid" alt="final-fantasy">
                </div>
            </div>
        </div>

    </div>
</section>