<footer  class="footer bloc-padding">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row footer-standard">
                <div class="col-lg-7">
                    <div class="widget text-left">
                        <div class="menu-footer-link-1-container">
                            <ul id="menu-footer-link-1" class="menu d-flex flex-wrap -unstyled">
                                <li class="menu-item  "><a href=" ">Terms Of Use</a></li>
                                <li class="menu-item "><a href=" ">Privacy-Policy</a></li>
                                <li class="menu-item "><a href="">Blog</a></li>
                                <li class="menu-item "><a href=" ">FAQ</a></li>
                                <li class="menu-item"><a href="">Watch List</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget text-left ">
                        <div class="textwidget ">
                            <p><small>© 2022 STREAM. All Rights Reserved. All videos and shows on this platform are trademarks of, and all related images and content are the property of, Stream Inc. Duplication and copy of this is strictly prohibited. All rights reserved.</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-4 mt-lg-0 ">
                    <h6 class="text-white footer-link-title ">
                        Follow Us : </h6>
                     <ul class="info-share d-flex flex-wrap list-unstyled">
                        <li>
                            <a target="_blank " href="https://www.facebook.com/  " class='icon-social'><i class=" fa-brands fa-facebook "></i>
                            </a>
                        </li>
                        <li><a target="_blank " href="https://twitter.com/ " class='icon-social'><i class="fab fa-twitter "></i></a></li>
                        <li><a target="_blank " href="https://github.com/ " class='icon-social'><i class="fab fa-github "></i></a></li> <br>
                        <li><a target="_blank " href="https://www.instagram.com/ " class='icon-social '><i class="fab fa-instagram mt-3 "></i></a></li>
                    </ul>

                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 ">
                    <div class="widget text-left ">
                        <div class="textwidget ">
                            <h6 class="footer-link-title ">Stream App</h6>
                           <div class="d-flex align-items-center flex-wrap justify-content-center">
                                <a class="app-image pr-1 " href="# "><img src="https://i.postimg.cc/v8vV77xx/011.png" alt="play-store "></a><br>
                                <a class="app-image " href="# "><img src="https://i.postimg.cc/gj4LYdbH/022.png" alt="app-store "></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>